body {
    margin: 0;
    padding: 0;
}
*{
    transition: all 300ms;
}
.ok{
    background-color: limegreen;
    height:15px;
    width: 15px;
    border-radius: 100%;
    animation: ok 1s infinite;
    top: -3px;
    right: -5px;
}
.wait{
    background-color: yellow;
    height:15px;
    width: 15px;
    border-radius: 100%;
    animation: ok 1s infinite;
    top: -3px;
    right: -5px;
}
.paused{
    background-color: red;
    height:15px;
    width: 15px;
    border-radius: 100%;
    animation: ok 1s infinite;
    top: -3px;
    right: -5px;
}
@keyframes ok {
    50%{
        background-color: transparent;
    }
}
.kapsa a{
    font-size: 1.1rem;
    background-color:  rgba(22, 0, 101, 0.075);
    border: 1px solid rgba(210, 210, 210, 0.145);
    margin-bottom: 5vh;
}